<launch>
  <arg name="use_ground_truth_attitude" default="true" />
  <arg name="segmentation_executable" default="seg_q4_node" />
  <arg name="start_rviz" default="false" />
  <include file="$(find ual_planner_bringup)/launch/ual_planner.launch">
    <arg name="sensor_config" value="$(find ual_planner_bringup)/config/hil_sim.yaml" />
    <arg name="use_sim_time" value="true" />
    <arg name="segmentation_executable" value="$(arg segmentation_executable)" />
    <arg name="start_rviz" value="$(arg start_rviz)" />
  </include>
  <node if="$(arg use_ground_truth_attitude)" pkg="landing_evaluator"
        type="odom_gravity_adapter.py" name="landing_odom_gravity_adapter" output="screen" />
</launch>
