<launch>
  <arg name="rviz_config" default="$(find ual_planner_bringup)/rviz/ual_planner.rviz" />
  <node pkg="landing_evaluator" type="landing_rviz_visualizer.py"
        name="landing_rviz_visualizer" output="screen" />
  <node pkg="rviz" type="rviz" name="ual_planner_rviz" output="screen"
        args="-d $(arg rviz_config)" />
</launch>
