<launch>
  <arg name="common_config" default="$(find ual_planner_bringup)/config/common.yaml" />
  <arg name="sensor_config" default="$(find ual_planner_bringup)/config/d1.yaml" />
  <arg name="rviz_config" default="$(find ual_planner_bringup)/rviz/ual_planner.rviz" />
  <arg name="use_sim_time" default="false" />
  <arg name="start_segmentation" default="true" />
  <arg name="segmentation_executable" default="seg_q4_node" />
  <arg name="start_projection" default="true" />
  <arg name="start_instance_graph" default="true" />
  <arg name="start_landing_evaluator" default="true" />
  <arg name="start_rviz" default="false" />

  <param name="use_sim_time" value="$(arg use_sim_time)" />
  <rosparam command="load" file="$(arg common_config)" />
  <rosparam command="load" file="$(arg sensor_config)" />

  <node if="$(arg start_segmentation)" pkg="ins_seg"
        type="$(arg segmentation_executable)" name="sam3_segmentation" output="screen" />
  <node if="$(arg start_projection)" pkg="ins_seg"
        type="projection.py" name="pointcloud_projection" output="screen" />
  <node if="$(arg start_instance_graph)" pkg="ins_seg"
        type="graph.py" name="instance_graph" output="screen" />
  <node if="$(arg start_landing_evaluator)" pkg="landing_evaluator"
        type="landing_evaluator_node" name="landing_evaluator" output="screen" />
  <include if="$(arg start_rviz)" file="$(find ual_planner_bringup)/launch/rviz.launch">
    <arg name="rviz_config" value="$(arg rviz_config)" />
  </include>
</launch>
