<launch>
  <arg name="visualize" default="true" />
  <arg name="use_rviz" default="true" />
  <arg name="pointcloud_topic" default="/livox/lidar" />
  <arg name="convert_custom" default="false" />
  <arg name="custom_topic" default="/livox/lidar_custom" />
  <rosparam command="load" file="$(find landing_evaluator)/config/avia_test.yaml" />
  <param name="landing_evaluator/input_topic" value="$(arg pointcloud_topic)" />
  <node pkg="landing_evaluator" type="landing_evaluator_node"
        name="landing_evaluator" output="screen" />
  <node if="$(arg convert_custom)" pkg="livox_avia_driver"
        type="custom_to_pointcloud2_node" name="livox_custom_to_pointcloud2" output="screen">
    <param name="input_topic" value="$(arg custom_topic)" />
    <param name="output_topic" value="$(arg pointcloud_topic)" />
  </node>
  <include if="$(arg visualize)" file="$(find landing_evaluator)/launch/landing_visualization.launch">
    <arg name="use_rviz" value="$(arg use_rviz)" />
    <arg name="pointcloud_topic" value="$(arg pointcloud_topic)" />
  </include>
</launch>
